.cardgame-card {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

.cardgame-card .card-img-top,
.cardgame-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.cardgame-logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
}

.cardgame-body {
  display: flex;
  flex-direction: column;
}

.cardgame-card .card-text {
  color: #fff !important;
}

.cardgame-footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
}
